$placeholderText-color: '#B4B4B4';
$label-color: '#49485E';
$main-text-color: '#3F3F3F';
$mainBG-color: '#FFFEFB';
$btn-disable-color: '#EEEEEE';
$btn-disable-text-color: '#B4B4B4';
$btn-enable-color: '#7BAE73';
$error-validated-color: '#FF8484';
