$placeholderText-color: #b4b4b4;
$label-color: #49485e;
$main-text-color: #3f3f3f;
$mainBG-color: #fffefb;
$btn-disable-color: #eeeeee;
$btn-disable-text-color: #b4b4b4;
$btn-enable-color: #7bae73;
$error-validated-color: #ff8484;
